/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/hot
/public/mix-manifest.json
/public/build

/storage/*
!/storage/.gitignore
!/storage/app/public
!/storage/framework
!/storage/logs

/storage/oauth-private.key
/storage/oauth-public.key

Thumbs.db
.DS_Store
*.sublime-workspace
*.sublime-project
*.code-workspace
/.idea
/.vscode

docker-compose.override.yml

/composer.lock
